{% extends "notes/base.html" %}
{% load static %}

{% block content %}
<div class="appbar">
  <img src="{% static 'notes/img/logo-getit.png' %}" class="logo"/>
  <span class="subtitle">Como o Post-it, mas com outro verbo</span>
</div>

<main class="container">
    <div class="tag-container">
        <h3>TAGS</h3>
        <div class="card-container">
          {% for tag in tags %}
          <form class="form-note" method="post" id="get_tag-{{tag.id}}" action="/get_tag">{% csrf_token %}</form>
          <textarea class="id" name="tag" form="get_tag-{{tag.id}}">{{tag.name}}</textarea>
          <button class="tag" form="get_tag-{{tag.id}}" formaction="/get_tag">{{tag.name}}</button>
          {% endfor %}
        </div>
  {% endblock %}
</main>