{% extends "notes/base.html" %}
{% load static %}

{% block content %}
<div class="appbar">
  <img src="{% static 'notes/img/logo-getit.png' %}" class="logo"/>
  <span class="subtitle">Como o Post-it, mas com outro verbo</span>
</div>

<main class="container">
  <form class="form-card" method="post">
    {% csrf_token %}
    <input
    class="form-card-title"
    type="text"
    name="titulo"
    placeholder="Título"
    id="titulo"
  />
  <textarea
    class="autoresize"
    name="detalhes"
    placeholder="Digite o conteúdo..."
    id="detalhes"
  ></textarea>
  <input
  class="form-card-title"
  type="text"
  name="tag"
  placeholder="Tag"
  id="tag"
/>
  <button class="btn" type="submit">Criar</button>
  </form>

  <ul class="card-container">
    {% for note in notes %}
    <li class="card">
        <form class="form-note" method="post" id="delete-{{note.id}}" action="/delete">{% csrf_token %}</form>
        <form class="form-note" method="post" id="update-{{note.id}}" action="/update">{% csrf_token %}</form>
          <button class="delete-button" form="delete-{{note.id}}" formaction="/delete"> X </button>
          <div class="card-title">
            <textarea class="id" name="id" form="delete-{{note.id}}">{{note.id}}</textarea>
            <textarea class="id" name="id" form="update-{{note.id}}">{{note.id}}</textarea>
            <textarea class="id" name="tag" form="delete-{{note.id}}">{{note.tag}}</textarea>
            <textarea class="autoresize" name="titulo" form="update-{{note.id}}">{{note.title}}</textarea>
          </div>
          <div class="card-content">
            <textarea class="autoresize" name="detalhes" form="update-{{note.id}}">{{note.content}}</textarea>
          </div>
          <div class="button-container">
            <button class="delb" form="update-{{note.id}}" formaction="/update"> update </button>
          </div>
    </li>
    {% endfor %}
  </ul>
  <div class="tag-container">
    <h3>TAGS</h3>
    <div class="card-container">
      {% for tag in tags %}
      <form class="form-note" method="post" id="get_tag-{{tag.id}}" action="/get_tag">{% csrf_token %}</form>
      <textarea class="id" name="tag" form="get_tag-{{tag.id}}">{{tag.name}}</textarea>
      <button class="tag" form="get_tag-{{tag.id}}" formaction="/get_tag">{{tag.name}}</button>
      {% endfor %}
    </div>
</div>
  {% endblock %}
</main>