{% extends "notes/base.html" %}
{% load static %}

{% block content %}
<div class="appbar">
  <img src="{% static 'notes/img/logo-getit.png' %}" class="logo"/>
  <span class="subtitle">Como o Post-it, mas com outro verbo</span>
</div>

<main class="container">
  <h1>{{tag}}</h1>
  <ul class="card-container">
    {% for note in notes %}
    <li class="card">
          <div class="card-title">
            <textarea class="autoresize" name="titulo">{{note.title}}</textarea>
          </div>
          <div class="card-content">
            <textarea class="autoresize" name="detalhes">{{note.content}}</textarea>
          </div>
    </li>
    {% endfor %}
  </ul>
  {% endblock %}
</main>